.App{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .content {
  }
  .content .header{
    display: flex;
    align-items: center;
  }
  .content .header .title{
    display: flex;
    align-items: center;
    position: relative;
  }
  .content .header .title .person {

  }
  .content .header .title .person img{
    position: absolute;
    left: 155px;
    top: 10px;
    }
  .content .header .title .img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
  .content .header .right{
    margin-left: 10px;
  }
  .content .header .right .name{
    font-weight: 500;
    font-size: 1.3em;
  }
  .content .header .right .status{
    color: #363062;
    font-weight: 500;
  }
  .content .main{
    margin: 30px 0 0;
  }
  .content .main .main_content .messages{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .main .main_content .messages .bot-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    margin: 0 10px 0;
  }
  .content .main .main_content .messages .human-message{
    width: 100%;
    padding: 15px;
    text-align: center;
    background: #363062;
    color: #EDECED;
    font-style: 1.1em;
    border-radius: 10px;
    position: relative;
    top: 120px;
    margin-bottom: 20px;
  }
  .content .bottom{
    margin: 120px 0 0;
  }
  .content .bottom .btm{
    display: flex;
    align-items: center;
  }
  .content .bottom .btm .input input{
    width: 400px;
    height: 51px;
    padding-left: 36px;
    outline: none;
    border: none;
    background: #EDECED;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .content .bottom .btm .btn{
    margin-left: 10px;
  }
  .content .bottom .btm .btn button{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #363062;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1em;
  }
  .content .bottom .btm .btn button i{
    margin-left: 5px;
  }
  @media all and (max-width:480px) {
    .App {
      width: 91%;
  }
    .content {
    width: 40%;
    }
    .content .bottom .btm .input input {
    width: 217px;
    }
  }