
@font-face {
  font-family: 'poppinsbold';
  src: url('./Components/Assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('./Components/Assets/fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsregular';
  src: url('./Components/Assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('./Components/Assets/fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinssemibold';
  src: url('./Components/Assets/fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('./Components/Assets/fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

ul  li {
  list-style: none;
  font-family: "poppinsregular";
}
p{
	line-height:1.7em;
	font-size: 16px;
	font-family:  'poppinsregular';
	font-weight: 400;
}
